body {
    font-family: sans-serif;
  }

  .jumbotron {
  background-position: center;
  background-size: cover;
  }

  .card {
    animation-name: example2;
    animation-duration: 2s;
  }

  .bg-color,.btn-dark {
    background-color: #34495e !important;
    border-color: #34495e;
  }

  @keyframes example1 {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes example2 {
    from {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(360deg);
    }
  }